#cesium-container-id {
	position: relative;
}
 
.globetoolbar-container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}
.globetoolbar-container-left {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 5px;
	left: 5px;
}

.globetoolbar-button {
    width: 32px;
	height: 32px;
	border-radius: 14%;
	padding: 0;
	cursor: pointer;
	vertical-align: middle;
	background-color: #303336;
	border: 1px solid #444;
	color: #edffff;
	align-items: center;
	justify-content: space-between;
	display: flex;
	vertical-align: middle;
	text-align: center;
}
