.smaller-button {
    font-size: 8px;
    line-height: 8px;
    height: 9px;
    width: 50px;
  }

.custom-select {
    height: 20px !important;
    font-size: 10px;
    min-height: 30px !important;
    max-height: 30px !important;
    overflow: hidden;
}

.smaller-font {
  font-size:10px;
  color: cyan;
}

.even-smaller-font {
  font-size:8px;
  color: cyan;
}

.blue-text {
  font-size: 6px;
  color: cyan;
}

.green-text {
  font-size: 6px;
  color: rgb(9, 216, 9);
}
